@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GenEiLateGo";
  src: url("/fonts/GenEiLateGoN_v2.ttf");
}

@font-face {
  font-family: "GenEiKoburiMin";
  src: url("/fonts/GenEiKoburiMin6-R.ttf");
}

@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-heavy.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "RoundedMPlus";
  src: url("/fonts/rounded/rounded-mplus-1c-black.ttf");
  font-weight: 900;
}

.scrollbar-hidden::-webkit-scrollbar {
  @apply hidden;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.skewed-list {
  @apply -skew-x-[30deg];
}

.skewed-item p {
  @apply skew-x-[30deg];
}

.triangle {
  /* width: 17.3px; */
  /* height: 15px; */
  width: 52px;
  height: 45px;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

a,
p,
span,
h3 {
  transform: rotate(0.05deg);
}

.bg-pattern {
  background-color: #f0f9ff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23006fc8' fill-opacity='0.15'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
